
#ModalEdit{
    display: none;
}
.main{
    width: 100%;
    background: url(https://images.pexels.com/photos/533982/pexels-photo-533982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    flex: 65%;
}
.main img{
    height: 100%    ;
}
table {
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  #session{
    background: #d4e1e9;
    padding: 10px;
  }
  #thu{
    text-align: center;
    color: white;
    font-size: 13px;
    background: #13517a;
  }
  .test-table{
    padding: 20px 10px;
  }
  .test-table-2{
    display: none;
    padding: 20px 10px;
  }

.scroll-to-top {
    position: relative;
}
.btn-position {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 20;

}
.btnstyle {
    opacity: 0.5;
    background-color: rgb(102, 96, 96);
    border: none;
    border-radius: 7px;
    font-weight: lighter;
    height: 40px;
    width: 40px;
    color: #fff;
    cursor: pointer;
    /* transition: all 0.5s ease-in-out; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 99;
}

.btnstyle {
    transition-timing-function: ease;
}

.btnstyle.active {
    display: block;
}
.header-main span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

#form-to-add{
    padding: 20px;
    border-radius: 15px;
    display: none;
}

.actionIcon{
    width: 20px !important;
    margin: 5px;
    cursor: pointer;
}
.table th, td{
    text-align: center;
}
.table th{
    border: 1px solid black !important;
    background: #13517a;
    color: white;
    font-size: 12px;
}

.guest-mode{
    display: none;
}


.something{
    padding: 20px;
    background-color: #d4e1e9;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* CSS */
#addModalQLTT {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

#addModalQLTT:disabled {
  pointer-events: none;
}

#addModalQLTT:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#addModalQLTT:active {
  box-shadow: none;
  transform: translateY(0);
}
  

/* CSS */
#addModal {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

#addModal:disabled {
  pointer-events: none;
}

#addModal:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#addModal:active {
  box-shadow: none;
  transform: translateY(0);
}
#btnModalAdd, #btnModalCancel, #btnModalUpdate, #btnModalCancelEdit{
    border: none;
    padding: 10px;
    border-radius: 10px;
}
#btnModalAdd:hover , #btnModalCancel:hover ,  #btnModalUpdate:hover, #btnModalCancelEdit{
   background: #3B3B3B;
   transition: all 0.5s;
   color: white;
}
.dc-week-day{
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c77a8;
    width: 10%;
}
.thu-2, .thu-3, .thu-4, .thu-5, .thu-6, .thu-7, .cn{
    width: 100%;
}
.data-time{
    color: blue;
    font-size: 20px;
}
/* ====================================================== */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }

 